* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: #060ab2; */
    background: linear-gradient(-90deg, hsl(0, 100%, 27%), hsl(240, 100%, 20%));
}

h1 {
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

span:nth-of-type(1) {
    color: yellow;
}

span:nth-of-type(2) {
    color: red;
}

.memory-game {
    width: 640px;
    height: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 20000px;

}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .5s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.memory-card.flip.complete {
    transform: scale(1);
    transform-style: preserve-3d;
    animation: disappear 400ms forwards;
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    /* background-color: #1c7ccc; */
    background-color: hsl(300, 100%, 24%);
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
    padding: 8px;
}

@keyframes disappear {
    0% {
        filter: opacity(100%);
    }
    25% {
        filter: opacity(75%);
    }
    50% {
        filter: opacity(50%);
    }
    75% {
        filter: opacity(25%);
    }
    100% {
        filter: opacity(0%);
    }
}
